<meta property="og:title" content="The Who" />
<meta property="og:description" content='The Who sample page with a brief description of the rock band and the youtube video "My generation"' />
<meta name="keywords" content='rock, who, "My generation"'/>

<div  class="whoclass bandclass text-center wid100 bluetext" >
    <h1 class="bandname">The Who</h1>
    
    <div class="embed-responsive embed-responsive-16by9">
        <p class="bandtext embed-responsive-item">{{compWho.who.txt}}</p>
        </div>
       
         <youtube-video class="video" video-id="compWho.who.video" ></youtube-video>
   
</div>