<meta property="og:title" content="Queen" />
<meta property="og:description" content='Queen sample page with a brief description of the rock band and the youtube video "Mustafa Ibrahim"'
/>
<meta name="keywords" content='rock, queen, "My generation"' />

    <div  class="qnclass bandclass text-center wid100 bluetext" >
            <h1 class="bandname">Queen</h1>
            
            <div class="embed-responsive embed-responsive-16by9">
                <p class="bandtext embed-responsive-item">{{compQueen.qn.txt}}</p>
                </div>
               
                 <youtube-video class="video" video-id="compQueen.qn.video" ></youtube-video>
           
        </div>

</div>