<meta property="og:title" content="The Rolling Stones" />
<meta property="og:description" content='The Rolling Stones sample page with a brief description of the rock band and the youtube video "Angie"'
/>
<meta name="keywords" content='rock, Rolling Stones, "Angie"' />
<div class="trsclass bandclass text-center wid100 bluetext">
    <h1 class="bandname">The Rolling Stones</h1>
    <div class="embed-responsive embed-responsive-16by9">
        <p class="bandtext embed-responsive-item">{{compTrs.trs.txt}}</p>
    </div>

    <youtube-video class="video" video-id="compTrs.trs.video"></youtube-video>

</div>
</div>