<meta property="og:title" content="The Beatles" />
<meta property="og:description" content='The Beatles sample page with a brief description of the rock band and the youtube video "With A Little Help From My Friends"' />
<meta name="keywords" content='rock, Beatles, "With A Little Help From My Friends"'/>
    <div  class="tbclass bandclass text-center wid100 bluetext" >
                <h1 class="bandname">The Beatles</h1>
                
                <div class="embed-responsive embed-responsive-16by9">
                    <p class="bandtext embed-responsive-item">{{compTb.tb.txt}}</p>
                    </div>
                   
                     <youtube-video class="video" video-id="compTb.tb.video" ></youtube-video>
               
            </div>
</div>
</div>