<meta property="og:title" content="Angular Rocks" />
<meta property="og:description" content='Esto es la descripción por defecto' />
<meta name="keywords" content='angular rocks default'/>
<div class="buttonbar text-center clearfix">
    
    <button ng-click="compHome.goToBar()">Bar Web</button>
    <button ng-click="compHome.goToFoo()">Foo Web</button>
    <button ng-click="compHome.goToTrs()">The Rolling Stones</button>
    <button ng-click="compHome.goToTb()">The Beatles</button>
    <button ng-click="compHome.goToQn()">Queen</button>
    <button ng-click="compHome.goToWho()">The Who</button>

</div>